<Ui::Segment
  class="flex flex-col gap-2"
  ...attributes
  {{did-insert (fn this.onInit)}}
  {{will-destroy (fn this.onDestroy)}}
>
  <div class="flex items-center justify-between">
    <Ui::Heading>
      {{@title}}
    </Ui::Heading>
    <div class="flex items-center gap-2">
      <Ui::Button {{on 'click' (fn (mut this.isPie) (not this.isPie))}}>
        <FaIcon @icon={{if this.isPie 'chart-simple' 'chart-pie' }} />
      </Ui::Button>
      <Ui::Button
        @isLoading={{this.fetchData.isRunning}}
        {{on 'click' (perform this.fetchData)}}
      >
        <FaIcon @icon="rotate" />
      </Ui::Button>
    </div>
  </div>
  <div class="flex flex-grow items-center">
    <div class="h-[99%] relative w-full">
      {{! не меняется вид графика без if }}
      {{#if this.isPie}}
        <EmberChart
          @type="doughnut"
          @data={{this.chartData}}
          @options={{this.options}}
          @height="100%"
        />
      {{else}}
        <EmberChart
          @type="bar"
          @data={{this.chartData}}
          @options={{this.options}}
          @height="100%"
        />
      {{/if}}
    </div>
  </div>
</Ui::Segment>