<div
  class={{cn
    'absolute flex flex-col bg-gray-800 h-screen transition-all z-10 overflow-y-auto lg:hidden'
    (if this.isSidebarOpen 'w-screen' 'w-0')
  }}
>
  <div>
    <button
      class="m-2 h-6 w-6 text-gray-50"
      type="button"
      {{on 'click' (fn (mut this.isSidebarOpen) false)}}
    >
      <FaIcon @icon="xmark" />
    </button>
  </div>
  {{#each this.cities as |city|}}
    <Menu::SidebarLink
      @route="city"
      @model={{city.id}}
      @onClick={{fn (mut this.isSidebarOpen) false}}
    >
      {{city.name}}
    </Menu::SidebarLink>
  {{/each}}
</div>
<div class="flex flex-none items-center h-10">
  <button
    class="border-b-2 border-gray-300 flex items-center h-full px-3 lg:hidden"
    type="button"
    {{on 'click' (fn (mut this.isSidebarOpen) true)}}
  >
    <FaIcon @icon="bars" />
  </button>
  <Menu::MenuLink @route="index">
    <FaIcon @icon="home" />
  </Menu::MenuLink>
  <div class="hidden h-full lg:flex">
    {{#each this.cities as |city|}}
      <Menu::MenuLink @route="city" @model={{city.id}}>
        {{city.name}}
      </Menu::MenuLink>
    {{/each}}
  </div>
  <div class="border-b-2 border-gray-300 flex flex-grow justify-end items-center h-full">
    <a
      class="px-2 text-xl"
      href="https://github.com/ixxvivxxi/waze-stats"
      target="_blank"
      rel="noopener noreferrer"
    >
      <FaIcon @icon="github" @prefix="fab" />
    </a>
  </div>
</div>