<div class="ui pushable component context  flex flex-col h-screen w-screen">
  <UiSidebar
    @context=".component.context"
    @class="ui sidebar inverted menu left inline vertical"
  >
    <LinkTo @route="index" class="item">
      <i class="home icon"></i>
      Главная
    </LinkTo>
    {{#each this.cities as |city|}}
      <LinkTo @route="city" @model={{city.id}} class="item">
        {{city.name}}
      </LinkTo>
    {{/each}}
  </UiSidebar>
  <div class="ui tiny secondary fluid pointing menu">
    <button class="item not-computer" {{action 'toogleSidebar'}}>
      <i class="sidebar icon"></i>
    </button>
    <LinkTo @route="index" class="item computer-only">
      <i class="home icon"></i>
    </LinkTo>
    {{#each this.cities as |city|}}
      <LinkTo @route="city" @model={{city.id}} class="item computer-only">
        {{city.name}}
      </LinkTo>
    {{/each}}
  </div>
  <div class="pusher flex-auto overflow-y-auto w-full p-3">
    {{outlet}}
  </div>
</div>