<div class="flex flex-col gap-3 lg:gap-10">
  <Ui::Heading class="lg:hidden">
    {{this.model.name}}
  </Ui::Heading>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3 lg:gap-10">
      <Ui::Statistic
        @isLoading={{this.fetchTwoDays.isRunning}}
        @title="Вейзеров сейчас"
        @value={{this.nowWazers}}
      />
      <Ui::Statistic
        @isLoading={{this.fetchTwoDays.isRunning}}
        @title="Максимум за 2 дня"
        @value={{this.maxWazersTwoDays}}
      />
      <Ui::Statistic
        @isLoading={{this.fetchYear.isRunning}}
        @title={{concat 'Максимум: ' this.maxWazersDay.date}}
        @value={{this.maxWazersDay.online}}
      />
    </div>
    <Ui::Button
      @isLoading={{this.fetchData.isRunning}}
      {{on 'click' (perform this.fetchData)}}
    >
      <FaIcon @icon="rotate" />
    </Ui::Button>
  </div>
  <div class="flex flex-col gap-3 w-full">
    <Chart @data={{this.twoDays}} @title="Статистика за 2 дня" />
    <Chart @data={{this.week}} @title="Статистика за неделю" />
    <Chart @data={{this.mounth}} @title="Статистика за месяц" />
    <Chart
      @data={{this.year}}
      @isDateFormat={{true}}
      @title="Статистика за год"
    />
  </div>
</div>