<div class="ui grid">
  <div class="fifteen wide column">
    <div class="ui six statistics">
      <div class="ui blue statistic">
        <div class="value">
          {{#if this.fetchTwoDays.isRunning}}
            <div class="ui active inline loader"></div>
          {{else}}
            {{this.nowWazers}}
          {{/if}}
        </div>
        <div class="label">
          Вейзеров сейчас
        </div>
      </div>
      <div class="ui blue statistic">
        <div class="value">
          {{#if this.fetchTwoDays.isRunning}}
            <div class="ui active inline loader"></div>
          {{else}}
            {{this.maxWazersTwoDays}}
          {{/if}}
        </div>
        <div class="label">
          Максимум за 2 дня
        </div>
      </div>
      <div class="ui blue statistic">
        <div class="value">
          {{#if this.fetchYear.isRunning}}
            <div class="ui active inline loader"></div>
          {{else}}
            {{this.maxWazersDay.online}}
          {{/if}}
        </div>
        <div class="label">
          Максимум -
          {{this.maxWazersDay.date}}
        </div>
      </div>
    </div>
  </div>
  <div class="one wide column">
    <button
      class="ui huge basic icon button right floated"
      {{on 'click' (perform this.fetchData)}}
    >
      <i class="refresh {{if this.fetchData.isRunning 'loading'}} icon"></i>
    </button>
  </div>
  <Chart @data={{this.twoDays}} @title="Статистика за 2 дня" />
  <Chart @data={{this.week}} @title="Статистика за неделю" />
  <Chart @data={{this.mounth}} @title="Статистика за месяц" />
  <Chart
    @data={{this.year}}
    @isDateFormat={{true}}
    @title="Статистика за год"
  />
  {{outlet}}
</div>